.Homepage-main {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #1e2026;
}

.Homepage-top {
  width: 50%;
}

.Homepage-top div {
  display: flex;
}

.Homepage-topSub {
  width: 100%;
}

.HomePage-TopSpacer {
}

.Homepage-TitleTop {
  font-size: 18px;
  font-weight: bold;
  width: 60%;
}

.Homepage-listTop {
  justify-content: space-between;
  width: 40%;
}

.Homepage-listTop-Button {
  background-color: #79b0c5;
  border-radius: 10px;
  padding: 3px 10px 3px 10px;
}

.Bored {
  color: gray;
}

.Homepage-WhiteLine {
  margin-top: 10px;
  background-color: grey;
  width: 100%;
  height: 2px;
}

/* Top end / Start Mid */

.HomePage-Mid-Main {
  margin-top: 50px;
  font-weight: bold;
}

.HomePage-Mid-Itens {
  font-size: 48px;
  margin: 15px 0 15px 0;
}

.HomePage-Mid-Title {
  font-size: 24px;
}

.HomePage-Mid-SubTitle {
}

.imgCem {
  mix-blend-mode: lighten;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.HomePage-Mid-Titles {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: center;
  margin-bottom: 50px;
}

.HomePage-Mid-Titles-1,
.HomePage-Mid-Titles-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: calc(0.5vw + 0.7vh + 1vmin);
  width: 40%;
  max-width: 35%;
  font-weight: bold;
  text-align: left;
}

.HomePage-Mid-Titles-1 div,
.HomePage-Mid-Titles-2 div {
  padding-top: 25px;
  margin-bottom: 60px;
  border-top: 1px solid grey;
  max-width: 60%;
  min-width: 60%;
}

.HomePage-Mid-Titles-1 {
}

.HomePage-Mid-Titles-2 {
}

.HomePage-Mid-White {
  background-color: #cfcac6 !important;
  height: 100vh;
  width: 100%;
  color: black;
  line-height: 30px;
}

.HomePage-Mid-White-Title {
  margin-top: 50px;
  font-size: calc(1vw + 1vh + 0.5vmin);
  font-weight: bold;
}

.HomePage-Mid-White-Subtitle {
  margin-top: 15px;
  font-size: calc(0.5vw + 0.4vh + 0.5vmin);
  line-height: 20px;
}

.HomePage-Mid-White-ShopNow {
  color: rgb(0, 72, 255);
}
